body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.container {
  background: #E6E9F2;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  row-gap: 8px;


}

.container img {
  display: flex;
  align-items: flex-start;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-top: 30px;
}

.container .card {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  margin: 9px;
  padding: 10px 5px;
  background: #ffffff;
  border-radius: 10.4px;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.container .card .info a {
  display: flex;

  font-weight: 700;
  font-size: 20px;
  color: #3A4562;
  text-decoration: none;
  margin-right: 300px;
  padding-top: 30px;
  padding-bottom: 5px;
  /* order: 1; */
}


.container .info {



  font-size: 16px;
  /* line-height: 15px; */
  letter-spacing: 0.23619px;
  color: #878D9D;
  /* order: 2; */
  align-self: stretch;
  position: relative;
  /* display: flex; */
  flex-grow: 0;
  margin: 0 30px;

}


.container .info img {
  display: inline;
  width: 16px;
  height: 16px;
  opacity: 50%;
  padding-right: 5px;
}

.container .left {
  display: inline-flex;
}

.container .card .left p {


  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.23619px;
  color: #878D9D;

  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 2%;
  top: 0%;
  bottom: 5%;
}

.container .card .left img {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 2%;
  top: 0%;
  bottom: 0%;
  color: #70778B;
  opacity: 50%;

}

.container .card .left button {
  position: absolute;
  top: 40px;
  right: 8px;
  opacity: 0.5;
  background: #ffffff;
  border: none;
  color: #FFFFFF;
}

.container .card .left .grade {
  position: absolute;
  top: 40px;
  right: 150px;
}

/* .css-iljtu2-MuiRating-root {
  color: aqua;
} */

@media (max-width:500px) {
  .container .card .left img {
    visibility: hidden;
  }

  .container .card .left p {
    display: inline-flex;
    /* align-items: flex-end; ----------------*/
    position: absolute;
  font-size: 0.7em;
    /* margin: 0; */
    bottom: 88%;
    right: 30px;
    
  }

  

  .container .card .info a {
    font-size: 18px;
    line-height: 24px;
    margin-right: 50px;

  }

  .container .card {
    background: #E6E9F2;
  }
  .container .card .left button {
    display: none;
  }
  .container .card .left .grade {
    top: 10px;
    left: 115px;
  }
}