.details {
    background: #ffffff;
}

.separatorA,
.separatorB {
    border-bottom: 1px solid #ddd;
}

.box1,
.box2 {
    display: flex;
    justify-content: space-between;
}

.box1 .box1_1 {
    display: inline-flex;
    mix-blend-mode: normal;
    opacity: 0.8;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.5px;
    color: rgba(56, 65, 93, 0.82);
    overflow: hidden;
    order: 2;
}

.box1 .box1_1 img {
    width: 40px;
    height: 40px;
}

.box1 .box1_1 p {
    margin: 0;
    padding-top: 10px;
}

#share {
    transform: scale(0.8);
    margin-left: 30px;
    opacity: 0.8;
}

#h1,
h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
}

.details h1 {
    border-bottom: 1px solid #ddd;
}

.details .container2 {
    background: #ffffff;
    color: #3A4562;
    padding: 24px 15px 0;
    order: 1;
}

.container2 .card {
    padding-bottom: 30px;
}

.details .card span {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.82);
}

.container2 .salary {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.75px;
}

h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.625px;
    margin-top: 0px;
}

.container2 .card p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    font-stretch: 100;
    color: rgba(56, 65, 93, 0.82);
}

.container2 .card .posted {
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.5625px;
    color: rgba(56, 65, 93, 0.355988);
    font-stretch: 100;
    margin-bottom: 15px;
    order: 3;
}

.details .container2 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 5px;
    background: #384564;
    border-radius: 8px;
    width: 127px;
    height: 20px;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 18px 10px;
    gap: 10px;
    color: #FFFFFF;
}

.details ul {
    list-style-type: square;
}

.details .imgs .attach {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.details .imgs img {
    width: 200px;
    height: 116px;
    object-fit: cover;
}

.details .info .btns1,
.btns2 {
    display: flex;
}

.details .info button {
    flex-direction: row;
    padding: 0 auto;
    margin: 5px 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.457143px;
}

.details .info .btns1 button {
    color: #55699E;
    background: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(85, 105, 158, 0.3);
}

.details .info .btns2 button {
    color: #988B49;
    background: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
}

.map_box {
    width: 300px;
    height: 400px;
    background: #2A3047;
    border-radius: 8px 8px 0 0;
    justify-content: center;
    display: flex;
    margin: 24px 15px;
    order: 2;
}

.contacts {
    color: #ddd;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.23619px;
    color: #E7EAF0;
    padding: 15px 30px 0 20px;
}

.details #back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #cad1e2;
    border-radius: 8px;
    width: 213px;
    height: 50px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    margin: 15px 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0.8;
    text-transform: uppercase;
    color: #3A4562;
}

.details a {
    text-decoration: none;
}

/*------------- MAP -------------*/
.map-container {
    width: 300px;
    height: 200px;
}

.mapboxgl-ctrl {
    display: none;
}

/*------------- MEDIA -------------*/
@media (min-width:800px) {
    .container2 {
        width: 700px;
    }
    .box2 h2 {
        width: 500px;
        padding-right: 70px;
    }
    .container2 {
        margin-left: auto;
    }
    
}

@media (min-width:1015px) {
    #contactH1 {
        display: none;
    }
    .container1 {
        display: flex;
    }
    .container2 button {
        margin: 30px 0px;
    }
    .separatorA {
        visibility: hidden;
    }
    .map_box {
        margin-right: auto;
    }
}

@media (max-width:1015px) {
    #btn_1 {
        display: none;
    }
    #btn_2 {
        margin: 5px auto 20px;
    }
    .box2 {
        display: block;
    }
    .box1 {
        display: contents;
    }
    .box1 .box1_1 {
        order: 2;
    }
    .separatorA {
        visibility: visible;
    }
    .separatorB {
        visibility: hidden;
    }
    .details #back {
        display: none;
    }
    .container2 .card .posted {
        top: 250px;
    }
}